body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.flex-item {
  background: #6798e0;
  padding: 5px;
  margin: 5px;
  height: auto;
  margin-top: 10px;
  color: #000000;
  /* min-width: 300px; */
  /* font-size: 3em; */
  text-align: center;
  flex: 1 1 0;
  order: 2;
}

.prominent {
  flex-grow: 2;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .flex-item {
    width: 100%;
    min-width: 95%;
  }

  .prominent {
    order: 1;
  }
}

@media only screen and (min-width: 1201px) {
  .flex-item {
    width: 50%;
    min-width: 45%;
  }

  .prominent {
    order: 1;
  }
}