.flex-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.flex-container {
  flex-direction: row;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  margin: 5px;
}

.flex-item.center {
  /* align-self: flex-start; */
  flex-grow: 2;
  min-width: 350px;
  /* min-width: 800px; */
}

.flex-item.left,
.flex-item.right {
  /* flex-shrink: 1; */
  min-width: 250px;
}

/* Tablet Media Quiry */

@media only screen and (max-width: 930px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item.center {
    flex-grow: 0;
    order: 1;
    /* width: 95%; */
  }

  .flex-item.left,
  .flex-item.right {
    min-width: auto;
    order: 2;
    /* width: 50%; */
  }
}

/* Mobile Media Quiry */

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item.center {
    flex-grow: 0;
    order: 1;
    /* width: 95%; */
  }

  .flex-item.left,
  .flex-item.right {
    min-width: auto;
    order: 2;
    /* width: auto; */
  }
}
